*.psd
*.o
.DS_Store
*~
.~lock*
*.uvopt
*.dep
*.bak
*.uvgui.*
*.uvguix.*

UNSupport/

*.swp
*.save
.idea
*.crf
*.d
*.lnp

# artefacts for STM32CubeIDE
usb2canfdv1-fw/.settings/
usb2canfdv1-fw/Debug/
usb2canfdv1-fw/debug/
usb2canfdv1-fw/Release/
usb2canfdv1-fw/release/

# artefacts of top-level Makefile
/downloads/
/build/

# local changes only
make/local.mk

# artefacts for VisualGDB (running in Visual Studio)
mcu.mak
mcu.mak.old
stm32.mak

# eclipse launch configurations
/support/eclipse

# ozone launch configurations
/support/ozone

# artefacts for Visual Studio Code
/.vscode/

# artefacts for CLion
/cmake-build-debug/

.vagrant
ubuntu*.log
/.vs

# python
test/__pycache__

# reference documents
/ref/*
